<p-card>
    <div class="flex flex-column">
        <sacyl-prescription-labeled-element [awesomeIcon]="fileIcon" label="details.general.prescription_type"
            [text]="type">
        </sacyl-prescription-labeled-element>
        <sacyl-prescription-labeled-element primeIcon="pi-sitemap" label="details.general.products_type"
            [text]="prescription.productType.display">
        </sacyl-prescription-labeled-element>
        <sacyl-prescription-labeled-element primeIcon="pi-box" label="details.general.products_group"
            [text]="prescription.productGroup.display">
        </sacyl-prescription-labeled-element>
        <!--sacyl-prescription-labeled-element *ngIf="loader && prescription.status.code == 'PRESCDISPENSADA' && prescription.idDocument" primeIcon="pi-sitemap" label="details.general.idDocument_link"-->
            <!--a [href]='urlCustody'>{{prescription.idDocument}} Descarga</a-->
        <sacyl-prescription-labeled-element *ngIf="loader && prescription.status.code == 'PRESCDISPENSADA'" primeIcon="pi-sitemap" label="details.general.idDocument_link">
            <span style="cursor:pointer; color: green; font-weight: bold;" (click)="openPdf('936')">Descarga</span>
        </sacyl-prescription-labeled-element>
    </div>
</p-card>