<p-toast></p-toast>
<p-progressSpinner *ngIf="loading; else elseBlock" class="align-self-center"></p-progressSpinner>
<ng-template #elseBlock>
    <div *ngIf="error; else elseBlock2" class="flex flex-column p-4">
        <i class="fa-solid fa-circle-exclamation align-self-center error-icon color-rejected p-2 icon-size"></i>
        <span class="align-self-center">{{ error | translate }}</span>
    </div>
    <ng-template #elseBlock2>
        <router-outlet></router-outlet>
    </ng-template>
</ng-template>