<p-dialog 
    [header]="title | translate" 
    [(visible)]="display" 
    [modal]="true"
    [draggable]="true" 
    [resizable]="true">
    <span class="py-2">{{ context | translate }}</span>

    <div [ngSwitch]="signatureState">
        <p *ngSwitchCase= "'CAPTURADA'" style="margin-left: 100px; color: green; font-weight: bold;">{{signatureState}}</p>
        <p *ngSwitchCase= "'ESPERANDO FIRMA'" style="margin-left: 100px; color: red; font-weight: bold;">{{signatureState}}</p>
    </div>

    <div style="height: 300px; width: 400px;">

        <div style="margin: 40px" id="signatureDiv">
            <img #signatureImage id="signatureImage" (change) = "updateState($event)" src='{{imgUrl}}' />
        </div>

    </div>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-end">
            <p-button  (onClick)="clearImg()" [disabled]= "disableCancel">{{ 'button.cancel' | translate }}</p-button>
            <p-button  (onClick)="confirmSignature()" [disabled]= "disableConfirm">{{ 'button.accept' | translate }}</p-button>
            <p-button  (onClick)="captureSignature()" [disabled]= "disableCapture">{{ 'button.captureSignature' | translate }}</p-button>
            <p-button  (onClick)="createPdf(signatureImage.src)" [disabled]= "disableCreate">{{ 'button.create_pdf' | translate }}</p-button>
        </div>
    </ng-template>
</p-dialog>
